Basic Operation of LIst

In [16]:
# Creating list

name = ['abul', 'babul', 'cabul', 'dabul']
print(name)
print(type(name))

['abul', 'babul', 'cabul', 'dabul']
<class 'list'>

In [3]:
contact = [111, 2222, 3333, 4444]
print(contact)

[111, 2222, 3333, 4444]

In [17]:
# Make a new list adding two list

contact_name = [name, contact]
print(contact_name)
print(type(contact_name))

[['abul', 'babul', 'cabul', 'dabul'], [4444, 3333, 2222, 111]]
<class 'list'>

In [11]:
print(contact_name[0])
print(contact_name[1])
print(contact_name[0][0])
print(contact_name[1][0])
print("Name :",contact_name[0][0], "Contact Number:",contact_name[1][0])

['abul', 'babul', 'cabul', 'dabul']
[111, 2222, 3333, 4444]
abul
111
Name : abul Contact Number: 111

In [13]:
# length of strings

print(len(contact_name))
print(len(name))
print(len(contact))
print(len())

2
4
4

In [14]:
#insert a new value

name.insert(1, "ebul")
print(name)

['abul', 'ebul', 'babul', 'cabul', 'dabul']

In [15]:
#reverse a list

contact.reverse()
print(contact)

[4444, 3333, 2222, 111]

In [21]:
# Adding two list

list1 = ['a', 'b', 'c', 'd']
list2 = ['c', 'd', 'e', 'f']
         
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 'd', 'c', 'd', 'e', 'f']

In [22]:
# How to sort a list

list4 = [-1, -3, -9, 0, 1, 2, 3, 4, 5, 7]
print(sorted(list4))

[-9, -3, -1, 0, 1, 2, 3, 4, 5, 7]

Tuple Data Structure
* The main difference between list and tuple is, Tuple is immutable
  i.e Tuple can't be changed

In [23]:
name = ('a', 'b', 'c', 'd')
print(name)
print(type(name))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [24]:
# Tuple slicing

print(name[0])

a

In [25]:
name.insert(1, 'r')

AttributeError: 'tuple' object has no attribute 'insert'

Set Data Structure

In [27]:
set_A = {1,2,3,4,5,6,7,8}
set_B = {3,4,5,5,6,0,9}
print(set_A)
print(set_B)
print(type(set_A))

{1, 2, 3, 4, 5, 6, 7, 8}
{0, 3, 4, 5, 6, 9}
<class 'set'>

In [29]:
print(set_A.union(set_B))
print(set_A.intersection(set_B))
print(set_B.intersection(set_A))
print(set_A.difference(set_B))
print(set_B.difference(set_A))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6}
{3, 4, 5, 6}
{8, 1, 2, 7}
{0, 9}